.user-input-message {
  color:white; 
  align-self: flex-end;
  padding: 10px 0 !important;
  border-top-right-radius: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.03);
  background: #FFF;
  max-width: 475px !important;
  box-shadow: 0px 1px 1px 0px rgba(185,186,189,1);
}